:root{

--black:#030303;
--dark:#090909;
--surface:#111111;

--white:#F8F8F8;
--gray:#9A9A9A;

--primary:#22D3EE;
--secondary:#7C3AED;
--accent:#00F5D4;

--glass:rgba(255,255,255,.08);

--radius:18px;

--transition:.4s cubic-bezier(.22,1,.36,1);

}